<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <title>Dashboard</title>
    <style>

        .card {
            border-radius: 10px;
            padding: 20px;
        }

        .card-content {
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-128x128" >
                            <img src="../static/images/ducky.png" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-4">Bem Vindo Administrador!</p>
                            <p class="subtitle is-6">FLAG 2 AQUI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>