<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Wicked LTDA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>

<body>

    <!-- Cabeçalho -->
    <section class="hero is-black">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="title">
                            Wicked LTDA
                        </p>
                        <p class="subtitle">
                            Inovação e Tecnologia
                        </p>
                    </div>
                    <div class="column is-narrow">
                        <!-- Botão de Login -->
                        <a href="/login" class="button is-light is-pulled-right">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Sobre a Empresa -->
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title">Sobre Nós</h1>
            <p>
                A Wicked LTDA é uma empresa líder em soluções tecnológicas inovadoras. Nossa missão é fornecer produtos
                e serviços de alta qualidade que atendam às necessidades do mercado moderno.
            </p>
            <figure class="image has-text-centered" style="margin-top: 20px;">
                <img src="../static/images/executives.jpeg"
                    style="max-width: 50%; max-height: 50%; display: block; margin: auto; border: 3px solid #ddd; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            </figure>
        </div>
    </section>

    <!-- Serviços -->
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title">Nossos Serviços</h1>
            <div class="columns">
                <!-- Card para Desenvolvimento de Software -->
                <div class="column">
                    <div class="card" style="border-radius: 15px; background-color: #f0f0f0;">
                        <div class="card-content">
                            <p class="title is-4">Desenvolvimento de Software</p>
                            <p>Desenvolvemos soluções de software personalizadas para atender às necessidades
                                específicas de nossos clientes.</p>
                        </div>
                    </div>
                </div>

                <!-- Card para Consultoria em TI -->
                <div class="column">
                    <div class="card" style="border-radius: 15px; background-color: #e8e8e8;">
                        <div class="card-content">
                            <p class="title is-4">Consultoria em TI</p>
                            <p>Oferecemos consultoria especializada para ajudar empresas a otimizar seus processos de
                                TI.</p>
                        </div>
                    </div>
                </div>

                <!-- Card para Suporte Técnico -->
                <div class="column">
                    <div class="card" style="border-radius: 15px; background-color: #d0d0d0;">
                        <div class="card-content">
                            <p class="title is-4">Suporte Técnico</p>
                            <p>Nossa equipe de suporte está sempre pronta para ajudar com quaisquer problemas ou dúvidas
                                técnicas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contato -->
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title">Contato</h1>
            <p>Entre em contato conosco pelo e-mail <b>contato@wickedltda.com</b> ou pelo telefone <b>(11) 1234-5678</b>.</p>
        </div>
    </section>

    <!-- Rodapé -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Wicked LTDA</strong> por Wicked Team. Todos os direitos reservados.
            </p>
        </div>
    </footer>

</body>

</html>