<!DOCTYPE html>
<html>

<head>
    <title>Wicked - Inovações Tecnológicas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>

<body>
    <!-- Seção do Cabeçalho -->
    <nav class="navbar is-transparent">
        <div class="navbar-menu">
            <!-- Lado Esquerdo da Barra de Navegação -->
            <div class="navbar-start">
                <a class="navbar-item" href="#home">Início</a>
                <a class="navbar-item" href="#about">Sobre Nós</a>
                <a class="navbar-item" href="#products">Produtos</a>
                <a class="navbar-item" href="#careers">Carreiras</a>
                <a class="navbar-item" href="#contact">Contato</a>
            </div>

            <!-- Lado Direito da Barra de Navegação -->
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/login">
                            <strong>Login</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <!-- Seção de Pesquisa e Desenvolvimento -->
    <section class="section fade-in-section" id="#home">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <figure class="image">
                        <img src="../static/images/wicked_logo.png" alt="Laboratório de Tecnologia Moderna"
                            class="rounded-image">
                    </figure>
                </div>
                <div class="column is-half fade-in-text">
                    <h2 class="title">Pesquisa e Desenvolvimento Inovadores</h2>
                    <p class="subtitle">Na Vanguarda do Avanço Tecnológico</p>
                    <p>
                        A Wicked é dedicada à pesquisa e desenvolvimento inovadores, ultrapassando os limites da
                        tecnologia. Nossos laboratórios de ponta são o berço de inovações que moldam o futuro. Desde
                        avanços em IA até soluções de energia sustentável, estamos comprometidos em resolver desafios
                        complexos
                        e aprimorar a vida através da tecnologia.
                    </p>
                    <br>
                    <button class="button is-link">Explore Nossas Inovações</button>
                </div>
            </div>
        </div>
    </section>


    <!-- Seção Sobre a Wicked -->
    <section id="about" class="section">
        <div class="container">
            <h2 class="title">Sobre a Wicked</h2>
            <p class="subtitle">
                Liderando o Futuro da Tecnologia
            </p>
            <div class="content">
                <p>
                    Na Wicked, somos movidos pela paixão de revolucionar a maneira como a tecnologia se integra à vida
                    cotidiana. Fundada em 2023, nossa jornada começou com a visão de mesclar pesquisa de ponta com
                    aplicações práticas, tornando a tecnologia avançada acessível a todos.
                </p>
                <p>
                    Nossa missão é inovar incansavelmente, empurrando os limites do que é possível. Acreditamos em
                    criar soluções que não apenas atendam às necessidades de hoje, mas também pavimentem o caminho para
                    um futuro
                    sustentável e impulsionado pela tecnologia. De plataformas movidas por IA a gadgets ecologicamente
                    corretos, nossos produtos são projetados para
                    aumentar a eficiência, produtividade e qualidade de vida.
                </p>
                <p>
                    Com uma equipe de engenheiros de classe mundial, desenvolvedores e visionários, estamos
                    comprometidos em fomentar uma
                    cultura de criatividade, diversidade e responsabilidade ética. Na Wicked, não estamos apenas
                    construindo
                    tecnologia; estamos construindo um futuro mais brilhante para todos.
                </p>
            </div>
        </div>
    </section>


    <!-- Seção de Produtos -->
    <section id="products" class="section">
        <div class="container">
            <h2 class="title">Nossos Produtos</h2>
            <div class="columns is-multiline">
                <!-- Cartão de Produto 1 -->
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../static/images/relogio.png" alt="Produto 1">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Smartwatch Futurista</p>
                                    <p class="subtitle is-6">IoT</p>
                                </div>
                            </div>
                            <div class="content">
                                Este smartwatch moderno e elegante possui uma tela sensível ao toque curva, oferecendo o
                                último
                                em tecnologia de monitoramento de saúde. Equipado com capacidades de carregamento sem
                                fio, seu
                                design minimalista e futurista enfatiza uma interface amigável ao usuário, tornando-o
                                perfeito
                                para o indivíduo antenado em tecnologia em movimento <br>
                                <a href="#">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cartão de Produto 2 -->
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../static/images/wireless.png" alt="Produto 2">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Alto-falante Assistente de Casa Sem Fio</p>
                                    <p class="subtitle is-6">Assistente de Casa</p>
                                </div>
                            </div>
                            <div class="content">
                                Experimente o futuro da automação doméstica com este alto-falante assistente de casa sem
                                fio.
                                Com tecnologia avançada de reconhecimento de voz e uma interface de exibição
                                holográfica, seu
                                forma cilíndrica e iluminação ambiente mesclam estética com funcionalidade, criando um
                                dispositivo de casa inteligente que é tão estiloso quanto prático
                                <br>
                                <a href="#">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cartão de Produto 3 -->
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../static/images/scooter.png" alt="Produto 3">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Scooter Elétrica Autoequilibrada</p>
                                    <p class="subtitle is-6">Veículo</p>
                                </div>
                            </div>
                            <div class="content">
                                Redefina a mobilidade urbana com nossa scooter elétrica autoequilibrada inovadora. Seu
                                design elegante,
                                aprimorado com luzes LED e um sistema GPS embutido, oferece uma solução compacta e
                                portátil para transporte pessoal ecológico. Perfeito para navegar pelas
                                ruas da cidade com facilidade e estilo <br>
                                <a href="#">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mais Cartões de Produtos conforme necessário... -->

            </div>
        </div>
    </section>

    <!-- Seção Carreiras -->
    <section id="carreiras" class="section">
        <div class="container">
            <h2 class="title">Junte-se à Nossa Equipe</h2>
            <p class="subtitle">
                Explore oportunidades de carreira empolgantes na Wicked e faça parte da nossa jornada inovadora.
            </p>

            <!-- Oportunidades de Carreira -->
            <div class="columns is-multiline">
                <!-- Oportunidade de Emprego 1 -->
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-5">Desenvolvedor de Software</p>
                            <p class="subtitle is-6">Excelência Técnica & Criatividade</p>
                            <div class="content">
                                Junte-se à nossa dinâmica equipe de desenvolvimento de software e trabalhe em projetos
                                de ponta...
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Saiba Mais</a>
                        </footer>
                    </div>
                </div>

                <!-- Oportunidade de Emprego 2 -->
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-5">Gerente de Produto</p>
                            <p class="subtitle is-6">Liderança & Estratégia</p>
                            <div class="content">
                                Conduza o desenvolvimento e a estratégia da nossa inovadora linha de produtos...
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Saiba Mais</a>
                        </footer>
                    </div>
                </div>

                <!-- Oportunidade de Emprego 3 -->
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-5">Designer de UX/UI</p>
                            <p class="subtitle is-6">Design & Experiência do Usuário</p>
                            <div class="content">
                                Crie designs intuitivos e visualmente atraentes para nossas plataformas digitais...
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Saiba Mais</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção Contato -->
    <section id="contato" class="section">
        <div class="container">
            <h2 class="title">Fale Conosco</h2>
            <p class="subtitle">
                Tem perguntas ou precisa de assistência? Entre em contato conosco, e teremos prazer em ajudar -
                <strong>contato@wicked.com</strong>
            </p>
        </div>
    </section>

    <!-- Rodapé -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy; 2023 Wicked. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="../static/js/fadein.js"></script>
</body>

</html>