<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login - Wicked LTDA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third-desktop">
                    <div class="box has-background-white-bis">
                        <h1 class="title has-text-centered">Login</h1>

                        <!-- Login Form -->
                        <form id="loginForm" method="post" action="{{ url_for('login_method')}}">
                            <div class="field">
                                <label class="label">E-mail</label>
                                <div class="control">
                                    <input class="input" type="text" name="username" id="username"
                                        placeholder="E-mail" required>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Senha</label>
                                <div class="control">
                                    <input class="input" type="password" name="password" id="password"
                                        placeholder="Senha" required>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-link is-fullwidth"
                                        id="loginButton">Login</button>
                                </div>
                            </div>
                        </form>

                        <!-- Optional Error Message -->
                        {% if error %}
                        <div class="notification is-danger has-text-centered" style="margin-top: 10px;">
                            <b>{{ error }}</b>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>