<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login - Wicked LTDA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <section class="section" style="height: 100vh;">
        <div class="container is-flex is-align-items-center is-justify-content-center" style="height: 100%;">
            <div class="columns is-vcentered">
                <div class="column">
                    <div class="box has-background-white">
                        <h4 class="title is-4">Painel de Acesso</h4>

                        <!-- Login Form -->
                        <form id="loginForm" method="post" action="{{ url_for('login_method')}}">
                            <!-- Email Field -->
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input" type="email" name="username" id="username" placeholder="Email"
                                        required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            </div>

                            <!-- Password Field -->
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" type="password" name="password" id="password"
                                        placeholder="Senha" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>

                            <!-- Submit Button -->
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-success is-fullwidth"
                                        id="loginButton">Login</button>
                                </div>
                            </div>
                        </form>

                        <!-- Optional Error Message -->
                        {% if error %}
                        <div class="notification is-danger has-text-centered" style="margin-top: 10px;">
                            <b>{{ error }}</b>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>